html {
    font-size: 30px;
}

#percentages {
    background-color: #6d6875;
    width: 800px;
    height: 800px;
}

#percentages div {
    background-color: #e5989b;
    width: 70%;
    height: 20%;
}

h1 {
    font-size: 40px;
    border: 1px solid black;
    line-height: 200%;
}

#ems h2 {
    font-size: 5em; /* EM Parent boyut değerinin uyarlamasını verir. */
    margin-left: 1em; /* Parent article = 20px = 1em */
}

#ems h3 {
    font-size: 1.5em;
}

#ems p {
    font-size: 1em;
}

#ems {
    font-size: 20x;
}

button {
    font-size: 1em; /* article 20px = 1em */
    padding: 0 1em;
    border-radius: 0.5em;
    background-color: #2a9d8f;
    color: white;
}

ul {
    font-size: 1.5em;
    /* Parentstan childa gittikçe boyut 1.5 ile çarpılıyor. */
}

#rems h2 {
    font-size: 3rem;
    /* rem root boyutla orantılanır, parenttan childa büyümez. */
}

#rems h3 {
    font-size: 2rem;
}

#rems ul {
    font-size: 1.5rem;
}

#rems button{
    font-size: 1.5rem;
}